# .env

# Docker Compose

STACK_PRFX=directus-app


# Directus

KEY=secret
SECRET=secret

PUBLIC_URL="http://localhost:8055"

DB_CLIENT=mysql
DB_HOST=database
DB_PORT=3306
DB_DATABASE=rollin_admin_portal
DB_USER=
DB_PASSWORD=
# DB_FILENAME=/directus/database/data.db
WEBSOCKETS_ENABLED=true

# CACHE_ENABLED=true
# CACHE_STORE=redis
# CACHE_REDIS=redis://cache:6379
# CACHE_ENABLED=false

ADMIN_EMAIL=hello@rollroadcake.com
ADMIN_PASSWORD=

# MySQL

# MYSQL_ROOT_PASSWORD=secret
MYSQL_DATABASE=${DB_DATABASE}
MYSQL_USER=${DB_USER}
MYSQL_PASSWORD=${DB_PASSWORD}
# MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
# MYSQL_RANDOM_ROOT_PASSWORD=false
MYSQL_ALLOW_EMPTY_PASSWORD=yes

# MySQL image by bitnami
MYSQL_AUTHENTICATION_PLUGIN="mysql_native_password"